<div *ngIf="notification" class="alert alert-warning col-md-12" role="alert">User Name Is Already Taken</div>
<div class="pt-5">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="assets/images/logo.png" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form [formGroup]="registerFormGroup" (submit)="onSubmit()">
            <div formGroupName="register">
              <div class="input-space">
                <input formControlName="username" type="text" id="login" class="fadeIn second" name="login" placeholder="User Name">
                <input formControlName="password" type="text" id="password" class="fadeIn third" name="login" placeholder="password">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info">Sign In</button>
          </div>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" routerLink="/login">Login</a>
          </div>
      
        </div>
      </div>
</div>