<li *ngIf="isAuthenticated && userFullName"><div class="ms-3">{{ userFullName }}</div></li>
<li *ngIf="isAuthenticated"><hr class="dropdown-divider"></li>
<li *ngIf="!isAuthenticated">
    <a  routerLink="/login" class="dropdown-item">Login</a>
</li>
<li *ngIf="isAuthenticated">
    <button  (click)="logout()" class="dropdown-item">Logout</button>
</li>
<li *ngIf="isAuthenticated"> 
    <button routerLink="/members" class="dropdown-item">Mamber</button>
</li>
<li *ngIf="isAuthenticated">
    <button routerLink="/order-hostory" class="dropdown-item">Orders</button>
</li>